<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 配置自动扫描的包 -->
    <context:annotation-config/>
	<context:component-scan base-package="com.zhiyi.medicinebox" />
	<context:component-scan base-package="com.zhiyi.medicinebox.controller.alarm" />
	<context:component-scan base-package="com.zhiyi.medicinebox.service" />
	<!--<context:component-scan base-package="com.zhiyi.medicinebox.dao" />-->


	<!-- 自动扫描被@Aspect注解的bean -->
	<aop:aspectj-autoproxy />

	<mybatis:scan base-package="com.zhiyi.medicinebox.dao"/>


	<!--配置数据库连接，事务相关信息-->
	<import resource="classpath*:properties/mysql-context.xml" />

	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!--<import resource="classpath*:properties/redis-context.xml" />-->
</beans>
