<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.medicinebox.api.infrastructure.persistence.mapper.AlarmMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Alarm" >
    <id column="alarm_id" property="alarmId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status_id" property="statusId" jdbcType="INTEGER" />
    <result column="alarm_time" property="alarmTime" jdbcType="TIMESTAMP" />
    <result column="alarm_lock" property="alarmLock" jdbcType="INTEGER" />
    <result column="is_send" property="isSend" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="dosage" property="dosage" jdbcType="VARCHAR" />
    <result column="med_id" property="medId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    alarm_id, user_id, status_id, alarm_time, alarm_lock, is_send, create_date, update_date,
    dosage, med_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Alarm" >
    insert into alarm (alarm_id, user_id, status_id,
    alarm_time, alarm_lock, is_send,
    create_date, update_date, dosage,
    med_id)
    values (#{alarmId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{statusId,jdbcType=INTEGER},
    #{alarmTime,jdbcType=TIMESTAMP}, #{alarmLock,jdbcType=INTEGER}, #{isSend,jdbcType=SMALLINT},
    #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{dosage,jdbcType=VARCHAR},
    #{medId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Alarm" >
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        alarm_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="alarmTime != null" >
        alarm_time,
      </if>
      <if test="alarmLock != null" >
        alarm_lock,
      </if>
      <if test="isSend != null" >
        is_send,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="dosage != null" >
        dosage,
      </if>
      <if test="medId != null" >
        med_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="alarmTime != null" >
        #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmLock != null" >
        #{alarmLock,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="medId != null" >
        #{medId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Alarm" >
    update alarm
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="alarmTime != null" >
        alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmLock != null" >
        alarm_lock = #{alarmLock,jdbcType=INTEGER},
      </if>
      <if test="isSend != null" >
        is_send = #{isSend,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dosage != null" >
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="medId != null" >
        med_id = #{medId,jdbcType=INTEGER},
      </if>
    </set>
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Alarm" >
    update alarm
    set user_id = #{userId,jdbcType=INTEGER},
      status_id = #{statusId,jdbcType=INTEGER},
      alarm_time = #{alarmTime,jdbcType=TIMESTAMP},
      alarm_lock = #{alarmLock,jdbcType=INTEGER},
      is_send = #{isSend,jdbcType=SMALLINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      dosage = #{dosage,jdbcType=VARCHAR},
      med_id = #{medId,jdbcType=INTEGER}
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
</mapper>