<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.medicinebox.api.infrastructure.persistence.mapper.BoxMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Box" >
    <id column="box_id" property="boxId" jdbcType="INTEGER" />
    <result column="box_name" property="boxName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Box" extends="BaseResultMap" >
    <result column="qr_code" property="qrCode" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    box_id, box_name, create_date
  </sql>
  <sql id="Blob_Column_List" >
    qr_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from box
    where box_id = #{boxId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from box
    where box_id = #{boxId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Box" >
    insert into box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        box_id,
      </if>
      <if test="boxName != null" >
        box_name,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boxId != null" >
        #{boxId,jdbcType=INTEGER},
      </if>
      <if test="boxName != null" >
        #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Box" >
    update box
    <set >
      <if test="boxName != null" >
        box_name = #{boxName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where box_id = #{boxId,jdbcType=INTEGER}
  </update>
</mapper>