<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.medicinebox.dao.DosageMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.medicinebox.entity.po.base.Dosage" >
    <id column="dosage_id" jdbcType="INTEGER" property="dosageId" />
    <result column="med_id" jdbcType="INTEGER" property="medId" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    dosage_id, med_id, dosage, status_id, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dosage
    where dosage_id = #{dosageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dosage
    where dosage_id = #{dosageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyi.medicinebox.entity.po.base.Dosage">
    insert into dosage (dosage_id, med_id, dosage,
    status_id, create_date)
    values (#{dosageId,jdbcType=INTEGER}, #{medId,jdbcType=INTEGER}, #{dosage,jdbcType=VARCHAR},
    #{statusId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyi.medicinebox.entity.po.base.Dosage">
    insert into dosage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dosageId != null">
        dosage_id,
      </if>
      <if test="medId != null">
        med_id,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="statusId != null">
        status_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dosageId != null">
        #{dosageId,jdbcType=INTEGER},
      </if>
      <if test="medId != null">
        #{medId,jdbcType=INTEGER},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.medicinebox.entity.po.base.Dosage">
    update dosage
    <set>
      <if test="medId != null">
        med_id = #{medId,jdbcType=INTEGER},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dosage_id = #{dosageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyi.medicinebox.entity.po.base.Dosage">
    update dosage
    set med_id = #{medId,jdbcType=INTEGER},
      dosage = #{dosage,jdbcType=VARCHAR},
      status_id = #{statusId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where dosage_id = #{dosageId,jdbcType=INTEGER}
  </update>
</mapper>