<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.medicinebox.api.infrastructure.persistence.mapper.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Medicine" >
    <id column="med_id" jdbcType="INTEGER" property="medId" />
    <result column="med_name" jdbcType="VARCHAR" property="medName" />
    <result column="malady" jdbcType="VARCHAR" property="malady" />
    <result column="instructions" jdbcType="VARCHAR" property="instructions" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    med_id, med_name, malady, instructions, url, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from medicine
    where med_id = #{medId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from medicine
    where med_id = #{medId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Medicine">
    insert into medicine (med_id, med_name, malady,
    instructions, url, create_date
    )
    values (#{medId,jdbcType=INTEGER}, #{medName,jdbcType=VARCHAR}, #{malady,jdbcType=VARCHAR},
    #{instructions,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" keyProperty="medId" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Medicine" useGeneratedKeys="true">
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="medId != null">
        med_id,
      </if>
      <if test="medName != null">
        med_name,
      </if>
      <if test="malady != null">
        malady,
      </if>
      <if test="instructions != null">
        instructions,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="medId != null">
        #{medId,jdbcType=INTEGER},
      </if>
      <if test="medName != null">
        #{medName,jdbcType=VARCHAR},
      </if>
      <if test="malady != null">
        #{malady,jdbcType=VARCHAR},
      </if>
      <if test="instructions != null">
        #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Medicine">
    update medicine
    <set>
      <if test="medName != null">
        med_name = #{medName,jdbcType=VARCHAR},
      </if>
      <if test="malady != null">
        malady = #{malady,jdbcType=VARCHAR},
      </if>
      <if test="instructions != null">
        instructions = #{instructions,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where med_id = #{medId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyi.medicinebox.api.infrastructure.persistence.po.Medicine">
    update medicine
    set med_name = #{medName,jdbcType=VARCHAR},
    malady = #{malady,jdbcType=VARCHAR},
    instructions = #{instructions,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR},
    create_date = #{createDate,jdbcType=TIMESTAMP}
    where med_id = #{medId,jdbcType=INTEGER}
  </update>
</mapper>