<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.medicinebox.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.medicinebox.entity.po.base.User" >
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="wx_city" jdbcType="VARCHAR" property="wxCity" />
    <result column="wx_name" jdbcType="VARCHAR" property="wxName" />
    <result column="wx_age" jdbcType="INTEGER" property="wxAge" />
    <result column="wx_sex" jdbcType="INTEGER" property="wxSex" />
    <result column="wx_phone" jdbcType="VARCHAR" property="wxPhone" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, password, open_id, nick_name, avatar_url, wx_city, wx_name, wx_age,
    wx_sex, wx_phone, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyi.medicinebox.entity.po.base.User">
    insert into user (user_id, user_name, password,
    open_id, nick_name, avatar_url,
    wx_city, wx_name, wx_age,
    wx_sex, wx_phone, create_date
    )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR},
    #{wxCity,jdbcType=VARCHAR}, #{wxName,jdbcType=VARCHAR}, #{wxAge,jdbcType=INTEGER},
    #{wxSex,jdbcType=INTEGER}, #{wxPhone,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" keyProperty="userId" parameterType="com.zhiyi.medicinebox.entity.po.base.User" useGeneratedKeys="true" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="wxCity != null">
        wx_city,
      </if>
      <if test="wxName != null">
        wx_name,
      </if>
      <if test="wxAge != null">
        wx_age,
      </if>
      <if test="wxSex != null">
        wx_sex,
      </if>
      <if test="wxPhone != null">
        wx_phone,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="wxCity != null">
        #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxName != null">
        #{wxName,jdbcType=VARCHAR},
      </if>
      <if test="wxAge != null">
        #{wxAge,jdbcType=INTEGER},
      </if>
      <if test="wxSex != null">
        #{wxSex,jdbcType=INTEGER},
      </if>
      <if test="wxPhone != null">
        #{wxPhone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.medicinebox.entity.po.base.User">
    update user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="wxCity != null">
        wx_city = #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxName != null">
        wx_name = #{wxName,jdbcType=VARCHAR},
      </if>
      <if test="wxAge != null">
        wx_age = #{wxAge,jdbcType=INTEGER},
      </if>
      <if test="wxSex != null">
        wx_sex = #{wxSex,jdbcType=INTEGER},
      </if>
      <if test="wxPhone != null">
        wx_phone = #{wxPhone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyi.medicinebox.entity.po.base.User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    open_id = #{openId,jdbcType=VARCHAR},
    nick_name = #{nickName,jdbcType=VARCHAR},
    avatar_url = #{avatarUrl,jdbcType=VARCHAR},
    wx_city = #{wxCity,jdbcType=VARCHAR},
    wx_name = #{wxName,jdbcType=VARCHAR},
    wx_age = #{wxAge,jdbcType=INTEGER},
    wx_sex = #{wxSex,jdbcType=INTEGER},
    wx_phone = #{wxPhone,jdbcType=VARCHAR},
    create_date = #{createDate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where open_id = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>